.navbar{
  background-color: #1C2331;
  width: 100%;
  overflow: auto;
  text-align: center;
}

.nav-item:hover{
  background: #673ab7;
  width: auto;
  border-radius: 10px;
}

a{
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  font-size: 17px;
  padding-left: 10px;
  padding-right: 10px;
}

.imagenzoo{
  border: solid #673ab7 1px;
  border-radius: 1px;
  width: 5em;
  display: none;
  font-size: 10px;
}

input{
  border: solid #673ab7 2px;
}