<div class="container-fluid">
    <h1> Punto 4 - Crucigrama </h1>

    <form #formregistro="ngForm" class="form-horizontal">
        <h2> Jugar al crucigrama </h2>

        <div class="form-group text-center">
            <button class="btn btn-dark col-lg-3 mr-sm-2 my-2" type="submit" value="iniciar juego" 
            (click)="iniciarJuego()" [disabled]="!formregistro.form.valid"> 
                Iniciar JUEGO
            </button>
         <!--   <button class="btn btn-dark col-lg-3 mr-sm-2 my-2" type="submit" value="categoria">
                Categor&iacute;a                              
                <select class="control" id="categoria" name="categoria">  
                    <option value="" selected hidden> Seleccione </option>
                    <option value=""></option>
                </select>
            </button> -->          
        </div>

        <div class="row" *ngIf="mostrar">

            <div class="col-md-8 text-center">
                <div class="form-group alert alert-success text-center">
                    <label for="para" class="col-4"> Vidas: {{cantidad_vida}} / 6 </label>
                    <label for="para" class="col-2"></label>
                    <label for="para" class="col-4"> Puntaje: {{cantidad_puntaje}} </label>
                    <label for="para" class="col-2"></label>
                </div>

                <input type="text" name="letra1" id="letra1" class="col-2 mr-sm-3">
                <input type="text" name="letra1" id="letra1" class="col-2 mr-sm-3">
                <input type="text" name="letra1" id="letra1" class="col-2 mr-sm-3">
                <input type="text" name="letra1" id="letra1" class="col-2 mr-sm-3">
                
                <div class="form-group">
                <button (click)="comprobar(letra)" *ngFor="let letra of letras" 
                    class="btn btn-dark text-center mr-sm-2 my-2"> {{ letra.toUpperCase()}} 
                </button>
                </div>
            </div>

            <div class="col-md-4" *ngIf="!gano && !perdio">
                <div class="form-group" *ngFor="let pala of listaPalabras">
                    <img src="assets/img/{{pala.urlImagen}}"
                    class="card-img-top imagenzoo" alt="img" >
                    <label for="para"  class="col alert alert-success text-center"> <h3> Pista: {{pala.palabraEspanol | uppercase}} </h3> </label>
                </div>
            </div>

            <div class="row" *ngIf="gano">
                <div class="col text-center">
                  <h1 class="text-success">Felicidades! Ganaste!!! :D</h1>
                </div>
            </div>
            <div class="row" *ngIf="perdio">
                <div class="col text-center">
                  <h1 class="text-danger">Lo siento :( Perdiste!</h1>
                  <h4 class="text-success" *ngFor="let pala of listaPalabras">La palabra correcta era: {{pala.palabraIngles | uppercase}}</h4>
                </div>
            </div>
            
        </div>
    </form>
</div>
