<div class="container-fluid">
    <h1> Punto 4 - Crucigrama </h1>

    <form #formregistro="ngForm" class="form-horizontal">
        <h2> Jugar al crucigrama </h2>
        <!-- INICIAR JUEGO Y REINICIAR -->
        <div class="form-group text-center">
            <button class="btn btn-dark col-lg-5 mr-sm-1 my-1" type="submit" value="iniciar juego" data-toggle="modal" 
                (click)='iniciarNivel()' (click)='iniciarJuego()' [disabled]="!formregistro.form.valid"> 
                <h4 *ngIf="!jugando">Iniciar JUEGO</h4>
                <h4 *ngIf="jugando">Reiniciar</h4>           
            </button>         
        </div>

        <div class="row" *ngIf="mostrar">
        <!-- VIDAS Y PUNTUACION -->
            <div class="col-md-8 text-center">
                <div class="form-group alert alert-success text-center" *ngIf="jugando">
                    <label for="para" class="col-4"> Vidas: {{vidas}} / 6 </label>
                    <label for="para" class="col-2"></label>
                    <label for="para" class="col-4"> Puntaje: {{puntos}} </label>
                    <label for="para" class="col-2"></label>
                </div>
        <!-- PALABRA EN INGLES-->
                <div class="container my-1" *ngIf="jugando">
                    <div class="row">
                        <div class="col-sm-2 mr-sm-2 my-2 text-center" 
                                *ngFor="let iter of palabraIngles; index as i">
                            <input type="text" name="name" class="form-control text-center" 
                                [(ngModel)]="respuesta[i]" maxlength="1" (change)='comprobarPalabra(i)'>
                        </div>
                    </div>

                    <div class="form-group my-2">
                        <button *ngFor="let letra of letras" 
                            class="btn btn-dark text-center mr-sm-2 my-2"> {{letra.toUpperCase()}} 
                        </button>
                    </div>
                </div>                
            </div>

        <!-- IMAGEN -->
            <div class="col-md-4" >
                <div class="form-group" *ngIf="jugando">
                    <img [src]="palabra.urlImagen"
                    class="card-img-top imagenzoo" alt="img">
                    <label for="para"  *ngIf="jugando" class="col alert alert-success text-center"> 
                        <h3> Pista: {{palabra.palabraEspanol | uppercase}} </h3> 
                    </label>
                </div>
            </div>
      
        <div class="row" *ngIf="gano">
                <div class="col text-center">
                  <h1 class="text-success">Felicidades! Ganaste!!! :D</h1>
                </div>
            </div>
            <div class="row" *ngIf="perdio">
                <div class="col text-center">
                  <h1 class="text-danger">Lo siento :( Perdiste!</h1>
                  <h4 class="text-success" >La palabra correcta</h4>
                </div>
            </div>
            
        </div>
    </form>
</div>